<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
</head>
<body>
<h1>Список сотрудников</h1>
<a href="/">На главную</a>
<a href="/employees/add">Добавить сотрудника</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Организация</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.ID}}</td>
        <td>{{.FirstName}}</td>
        <td>{{.LastName}}</td>
        <td>{{.OrganizationName}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>