<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Список организаций</title>
</head>
<body>
<div class="center-content">
    <h1>Список организаций</h1>
    <ul class="navigation-list">
        <a href="/" class="nav-link">На главную</a>
        <a href="/organizations/add" class="nav-link">Добавить организацию</a>
    </ul>
</div>

<table class="table">
    <tr>
        <th>Название</th>
        <th>Адрес</th>
    </tr>
    {{range .}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Address}}</td>
    </tr>
    {{end}}
</table>
</body>
</html>